---
layout: default
title: Blog
---

{% for post in paginator.posts %}

<article class="post-listitem">
<div class="media">
  <div class="media-body">
    <a href="{{ site.baseurl }}{{ post.url }}">
      <h2 class="media-heading">{{ post.title }}</h4>
    </a>
    <div class="post-listitem-subheading">
        {{ post.date | date_to_long_string }}
    </div>
    {% if post.image %}
    <a class="pull-right" href="{{ site.baseurl }}{{ post.url }}">
      <img class="media-object post-listitem-image" src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
    </a>
    {% endif %}
    {{ post.excerpt | markdownify }}
  </div>
</div>
</article>

{% endfor %}

<div id="post-pagination" class="pagination">
  {% if paginator.previous_page %}
    <p class="previous">
      {% if paginator.previous_page == 1 %}
        <a href="/blog">Previous</a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}">Previous</a>
      {% endif %}
    </p>
  {% else %}
    <p class="previous disabled">
      <span>Previous</span>
    </p>
  {% endif %}

  {% if paginator.next_page %}
    <p class="next">
      <a href="{{ paginator.next_page_path }}">Next</a>
    </p>
  {% else %}
    <p class="next disabled">
      <span>Next</span>
    </p>
  {% endif %}

</div>